<div class="flex gap-2 items-center mb-2" [class.border-b-2]="showDivider()" [class.border-b-gray-200]="showDivider()" [class.pb-2]="showDivider()">
    <div class="inline-block w-2 h-2 rounded-full position-absolute" [class]="categoryColorClass()"></div>
    <div>
        <p class="text-black font-bold text-sm">{{ description() }}</p>
        <p class="text-sm">{{ categoryName() }} · {{ date() }}</p>
    </div>
    <div class="flex-1 text-right">
        <p class="text-black text-base">
            {{sumRestSign()=='+'
                ? ''
                : '-'}}$
                {{ amount() }}
        </p>
    </div>
</div>
